*.xml
*.iml
snippet.py
Lesson_7/lesson_7.py
Lesson_7/homework_7.txt
Lesson_6_Collections/homework.txt
test.py
Lesson_8/homework.txt
Lesson_9/homework.txt
Lesson_11/homework.txt
Lesson_13/snippet.txt
Lesson_16/lesson.py
Lesson_15/homework.txt
Lesson_15/homework.txt
README.md
Lesson_19/new.json
