*.xml
*.iml
Lesson_7/lesson_7.py
Lesson_7/homework_7.txt
Lesson_6_Collections/homework.txt
test.py
Lesson_8/homework.txt
Lesson_9/homework.txt
Lesson_11/homework.txt
Lesson_13/snippet.txt
Lesson_16/lesson.py
Lesson_15/homework.txt
Lesson_15/homework.txt
README.md
Lesson_19/new.json
Lesson_15/snippet.py
Lesson_11/snippet.py
Lesson_17/snippet.py
Lesson_18/snippet.py
Lesson_19/snippet.py
Lesson_4/snippet.py
Lesson_5_Collections/snippet.py
Lesson_6_Collections/snippet.py
Lesson_8/snippet.py
Lesson_9/snippet.py
